body {
  background-color: #d0e4fe;
  font-family: "Helvetica";
}

h1 {
  color: orange;
  text-align: center;
}

.weather-wrapper {
	padding: 0 20px;
}

.summary {
  font-size: 30px;
}

.summary > * {
	vertical-align: middle;
}