<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/appKey.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>THE WEATHER</h1>

  <h2 class="city"></h2>
  <h3 class="temp"></h3>
  <p class="summary"></p>

  <button type="button" onclick="myFunction()">
    Try it
  </button>

</body>

</html>